<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg bg-dark text-white">
        <div class="container-fluid">
          <a class="navbar-brand text-white" >TO_DO_LIST</a>
          <form class="d-flex">
           
            <a href = {% url 'add_to' %} class="btn btn-outline-success" type="submit" style="margin-right: 5px;">add_to_do</a>
            <a href = {% url 'show_list' %} class="btn btn-outline-success" type="submit" style="margin-right: 5px;" >show_list</a>
            <a href = {% url 'com_list' %} class="btn btn-outline-success" type="submit">complete</a>
          </form>
        </div>
      </nav>

    {% block content  %}
    {% endblock  %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>